<h1><u> Welcome to the landmark validator </u></h1>
<br>
<h2> Please enter your coordinates and press compute at the bottom </h2>
<h2> The result is the total Euclidean distance (in mm) between your fiducial and the average </h2>
<h2> Any unfilled values will be calculated with the defaults (0, 0, 0) </h2>
<table>
<tr>
<td valign="top">
<form method=post action="">
<table>
     <tr>
    <td>{{ form.AC_x.name }}</td><td>{{ form.AC_x(size=10,value=0) }}</td><td>{{ form.AC_y.name }}</td><td>{{ form.AC_y(size=10,value=0) }}</td><td>{{ form.AC_z.name }}</td><td>{{ form.AC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.PC_x.name }}</td><td>{{ form.PC_x(size=10,value=0) }}</td><td>{{ form.PC_y.name }}</td><td>{{ form.PC_y(size=10,value=0) }}</td><td>{{ form.PC_z.name }}</td><td>{{ form.PC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.inf_x.name }}</td><td>{{ form.inf_x(size=10,value=0) }}</td><td>{{ form.inf_y.name }}</td><td>{{ form.inf_y(size=10,value=0) }}</td><td>{{ form.inf_z.name }}</td><td>{{ form.inf_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.pmj_x.name }}</td><td>{{ form.pmj_x(size=10,value=0) }}</td><td>{{ form.pmj_y.name }}</td><td>{{ form.pmj_y(size=10,value=0) }}</td><td>{{ form.pmj_z.name }}</td><td>{{ form.pmj_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.sup_inc_fos_x.name }}</td><td>{{ form.sup_inc_fos_x(size=10,value=0) }}</td><td>{{ form.sup_inc_fos_y.name }}</td><td>{{ form.sup_inc_fos_y(size=10,value=0) }}</td><td>{{ form.sup_inc_fos_z.name }}</td><td>{{ form.sup_inc_fos_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.r_s_LMS_x.name }}</td><td>{{ form.r_s_LMS_x(size=10,value=0) }}</td><td>{{ form.r_s_LMS_y.name }}</td><td>{{ form.r_s_LMS_y(size=10,value=0) }}</td><td>{{ form.r_s_LMS_z.name }}</td><td>{{ form.r_s_LMS_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.l_s_LMS_x.name }}</td><td>{{ form.l_s_LMS_x(size=10,value=0) }}</td><td>{{ form.l_s_LMS_y.name }}</td><td>{{ form.l_s_LMS_y(size=10,value=0) }}</td><td>{{ form.l_s_LMS_z.name }}</td><td>{{ form.l_s_LMS_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.r_i_LMS_x.name }}</td><td>{{ form.r_i_LMS_x(size=10,value=0) }}</td><td>{{ form.r_i_LMS_y.name }}</td><td>{{ form.r_i_LMS_y(size=10,value=0) }}</td><td>{{ form.r_i_LMS_z.name }}</td><td>{{ form.r_i_LMS_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.l_i_LMS_x.name }}</td><td>{{ form.l_i_LMS_x(size=10,value=0) }}</td><td>{{ form.l_i_LMS_y.name }}</td><td>{{ form.l_i_LMS_y(size=10,value=0) }}</td><td>{{ form.l_i_LMS_z.name }}</td><td>{{ form.l_i_LMS_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.culmen_x.name }}</td><td>{{ form.culmen_x(size=10,value=0) }}</td><td>{{ form.culmen_y.name }}</td><td>{{ form.culmen_y(size=10,value=0) }}</td><td>{{ form.culmen_z.name }}</td><td>{{ form.culmen_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.inter_sulc_x.name }}</td><td>{{ form.inter_sulc_x(size=10,value=0) }}</td><td>{{ form.inter_sulc_y.name }}</td><td>{{ form.inter_sulc_y(size=10,value=0) }}</td><td>{{ form.inter_sulc_z.name }}</td><td>{{ form.inter_sulc_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.r_mb_x.name }}</td><td>{{ form.r_mb_x(size=10,value=0) }}</td><td>{{ form.r_mb_y.name }}</td><td>{{ form.r_mb_y(size=10,value=0) }}</td><td>{{ form.r_mb_z.name }}</td><td>{{ form.r_mb_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.l_mb_x.name }}</td><td>{{ form.l_mb_x(size=10,value=0) }}</td><td>{{ form.l_mb_y.name }}</td><td>{{ form.l_mb_y(size=10,value=0) }}</td><td>{{ form.l_mb_z.name }}</td><td>{{ form.l_mb_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.pineal_gland_x.name }}</td><td>{{ form.pineal_gland_x(size=10,value=0) }}</td><td>{{ form.pineal_gland_y.name }}</td><td>{{ form.pineal_gland_y(size=10,value=0) }}</td><td>{{ form.pineal_gland_z.name }}</td><td>{{ form.pineal_gland_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_LV_AC_x.name }}</td><td>{{ form.R_LV_AC_x(size=10,value=0) }}</td><td>{{ form.R_LV_AC_y.name }}</td><td>{{ form.R_LV_AC_y(size=10,value=0) }}</td><td>{{ form.R_LV_AC_z.name }}</td><td>{{ form.R_LV_AC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_LV_AC_x.name }}</td><td>{{ form.L_LV_AC_x(size=10,value=0) }}</td><td>{{ form.L_LV_AC_y.name }}</td><td>{{ form.L_LV_AC_y(size=10,value=0) }}</td><td>{{ form.L_LV_AC_z.name }}</td><td>{{ form.L_LV_AC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_LV_PC_x.name }}</td><td>{{ form.R_LV_PC_x(size=10,value=0) }}</td><td>{{ form.R_LV_PC_y.name }}</td><td>{{ form.R_LV_PC_y(size=10,value=0) }}</td><td>{{ form.R_LV_PC_z.name }}</td><td>{{ form.R_LV_PC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_LV_PC_x.name }}</td><td>{{ form.L_LV_PC_x(size=10,value=0) }}</td><td>{{ form.L_LV_PC_y.name }}</td><td>{{ form.L_LV_PC_y(size=10,value=0) }}</td><td>{{ form.L_LV_PC_z.name }}</td><td>{{ form.L_LV_PC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.Genu_CC_x.name }}</td><td>{{ form.Genu_CC_x(size=10,value=0) }}</td><td>{{ form.Genu_CC_y.name }}</td><td>{{ form.Genu_CC_y(size=10,value=0) }}</td><td>{{ form.Genu_CC_z.name }}</td><td>{{ form.Genu_CC_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.Splenium_x.name }}</td><td>{{ form.Splenium_x(size=10,value=0) }}</td><td>{{ form.Splenium_y.name }}</td><td>{{ form.Splenium_y(size=10,value=0) }}</td><td>{{ form.Splenium_z.name }}</td><td>{{ form.Splenium_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_AL_th_x.name }}</td><td>{{ form.R_AL_th_x(size=10,value=0) }}</td><td>{{ form.R_AL_th_y.name }}</td><td>{{ form.R_AL_th_y(size=10,value=0) }}</td><td>{{ form.R_AL_th_z.name }}</td><td>{{ form.R_AL_th_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_AL_th_x.name }}</td><td>{{ form.L_AL_th_x(size=10,value=0) }}</td><td>{{ form.L_AL_th_y.name }}</td><td>{{ form.L_AL_th_y(size=10,value=0) }}</td><td>{{ form.L_AL_th_z.name }}</td><td>{{ form.L_AL_th_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_sup_AM_x.name }}</td><td>{{ form.R_sup_AM_x(size=10,value=0) }}</td><td>{{ form.R_sup_AM_y.name }}</td><td>{{ form.R_sup_AM_y(size=10,value=0) }}</td><td>{{ form.R_sup_AM_z.name }}</td><td>{{ form.R_sup_AM_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_sup_AM_x.name }}</td><td>{{ form.L_sup_AM_x(size=10,value=0) }}</td><td>{{ form.L_sup_AM_y.name }}</td><td>{{ form.L_sup_AM_y(size=10,value=0) }}</td><td>{{ form.L_sup_AM_z.name }}</td><td>{{ form.L_sup_AM_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_inf_AM_x.name }}</td><td>{{ form.R_inf_AM_x(size=10,value=0) }}</td><td>{{ form.R_inf_AM_y.name }}</td><td>{{ form.R_inf_AM_y(size=10,value=0) }}</td><td>{{ form.R_inf_AM_z.name }}</td><td>{{ form.R_inf_AM_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_inf_AM_x.name }}</td><td>{{ form.L_inf_AM_x(size=10,value=0) }}</td><td>{{ form.L_inf_AM_y.name }}</td><td>{{ form.L_inf_AM_y(size=10,value=0) }}</td><td>{{ form.L_inf_AM_z.name }}</td><td>{{ form.L_inf_AM_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_ind_gri_x.name }}</td><td>{{ form.R_ind_gri_x(size=10,value=0) }}</td><td>{{ form.R_ind_gri_y.name }}</td><td>{{ form.R_ind_gri_y(size=10,value=0) }}</td><td>{{ form.R_ind_gri_z.name }}</td><td>{{ form.R_ind_gri_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_ind_gri_x.name }}</td><td>{{ form.L_ind_gri_x(size=10,value=0) }}</td><td>{{ form.L_ind_gri_y.name }}</td><td>{{ form.L_ind_gri_y(size=10,value=0) }}</td><td>{{ form.L_ind_gri_z.name }}</td><td>{{ form.L_ind_gri_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_vent_occ_x.name }}</td><td>{{ form.R_vent_occ_x(size=10,value=0) }}</td><td>{{ form.R_vent_occ_y.name }}</td><td>{{ form.R_vent_occ_y(size=10,value=0) }}</td><td>{{ form.R_vent_occ_z.name }}</td><td>{{ form.R_vent_occ_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_vent_occ_x.name }}</td><td>{{ form.L_vent_occ_x(size=10,value=0) }}</td><td>{{ form.L_vent_occ_y.name }}</td><td>{{ form.L_vent_occ_y(size=10,value=0) }}</td><td>{{ form.L_vent_occ_z.name }}</td><td>{{ form.L_vent_occ_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.R_olf_sulc_x.name }}</td><td>{{ form.R_olf_sulc_x(size=10,value=0) }}</td><td>{{ form.R_olf_sulc_y.name }}</td><td>{{ form.R_olf_sulc_y(size=10,value=0) }}</td><td>{{ form.R_olf_sulc_z.name }}</td><td>{{ form.R_olf_sulc_z(size=10,value=0) }}</td>
    </tr>

    <tr>
    <td>{{ form.L_olf_sulc_x.name }}</td><td>{{ form.L_olf_sulc_x(size=10,value=0) }}</td><td>{{ form.L_olf_sulc_y.name }}</td><td>{{ form.L_olf_sulc_y(size=10,value=0) }}</td><td>{{ form.L_olf_sulc_z.name }}</td><td>{{ form.L_olf_sulc_z(size=10,value=0) }}</td>
    </tr>

</tr>
</table>
<p><input type=submit value=Compute></form></p>
</form>
</td>
<td valign="top">
{% if inf_result != None %}
<table border=10>
<tr><td> AC    </td><td> {{AC_result}} </td></tr>
<tr><td> PC    </td><td> {{PC_result}} </td></tr>
<tr><td> infracollicular sulcus    </td><td> {{inf_result}} </td></tr>
<tr><td> PMJ </td><td> {{pmj_result}} </td></tr>
<tr><td> superior interpeduncular fossa </td><td> {{sup_inc_fos_result}} </td></tr>
<tr><td> R superior LMS </td><td> {{r_s_LMS_result}} </td></tr>
<tr><td> L superior LMS </td><td> {{l_s_LMS_result}} </td></tr>
<tr><td> R inferior LMS </td><td> {{r_i_LMS_result}} </td></tr>
<tr><td> L inferior LMS </td><td> {{l_i_LMS_result}} </td></tr>
<tr><td> Culmen </td><td> {{culmen_result}} </td></tr>
<tr><td> Intermamillary sulcus </td><td> {{inter_sulc_result}} </td></tr>
<tr><td> R MB </td><td> {{r_mb_result}} </td></tr>
<tr><td> L MB </td><td> {{l_mb_result}} </td></tr>
<tr><td> pineal gland </td><td> {{pineal_gland_result}} </td></tr>
<tr><td> R LV at AC </td><td> {{R_LV_AC_result}} </td></tr>
<tr><td> L LV at AC </td><td> {{L_LV_AC_result}} </td></tr>
<tr><td> R LV at PC </td><td> {{R_LV_AC_result}} </td></tr>
<tr><td> L LV at PC </td><td> {{L_LV_PC_result}} </td></tr>
<tr><td> Genu of CC </td><td> {{Genu_CC_result}} </td></tr>
<tr><td> Splenium of CC </td><td> {{Splenium_result}} </td></tr>
<tr><td> L AL temporal horn </td><td> {{L_AL_th_result}} </td></tr>
<tr><td> L superior AM temporal horn </td><td> {{L_sup_AM_result}} </td></tr>
<tr><td> R inferior AM temporal horn </td><td> {{R_inf_AM_result}} </td></tr>
<tr><td> L inferior AM temporal horn </td><td> {{L_inf_AM_result}} </td></tr>
<tr><td> R indusium griseum origin </td><td> {{R_ind_gri_result}} </td></tr>
<tr><td> L indisium griseum origin </td><td> {{L_ind_gri_result}} </td></tr>
<tr><td> R ventral occipital horn </td><td> {{R_vent_occ_result}} </td></tr>
<tr><td> L ventral occipital horn </td><td> {{L_vent_occ_result}} </td></tr>
<tr><td> R olfactory sulcul fundus </td><td> {{R_olf_sulc_result}} </td></tr>
<tr><td> L olfactory sulcul fundus </td><td> {{L_olf_sulc_result}} </td></tr>
{% endif %}
</td>
</tr>
</table>
