<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Anatomical Fiducials Validator" />
    <meta
      name="author"
      content="Patrick Park, Geetika Gupta, Jak Lee-Spacek, Tristan Kuehn, Olivia Stanley, Jason Kai"
    />

    <title>Anatomical Fiducials{% block title %}{% endblock %}</title>

    <!-- favicon - to be added -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/afid.png') }}"
    />

    <!-- Boostrap Core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Used for icons (e.g. git, twitter) -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/afids_custom.css') }}"
      type="text/css"
    />
  </head>

  <body class="d-flex flex-column h-100">
    <header class="container">
      <div class="navbar-brand">
        <img
          class="img-fluid"
          src="{{ url_for('static', filename='images/banner.png') }}"
          alt="AFIDs Validator Banner"
        />
      </div>
      <nav class="navbar navbar-expand-lg text-uppercase">
        <div class="container-fluid justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item mx-4">
              <a class="nav-link" href="/">About</a>
            </li>
            <li class="nav-item mx-4">
              <a
                class="nav-link"
                href="https://afids.github.io/afids-protocol/"
                target="_blank"
                >Protocol</a
              >
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="validator.html">Validator</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
      <hr />
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer class="footer mt-auto py-1">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-center">
          <a
            class="nav-link"
            href="https://twitter.com/afids_project"
            target="_blank"
            ><i class="fa fa-twitter"></i
          ></a>
          <a class="nav-link" href="https://github.com/afids" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
        </div>
      </nav>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
