<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Anatomical Fiducials Validator" />
    <meta
      name="author"
      content="Patrick Park, Geetika Gupta, Jak Lee-Spacek, Tristan Kuehn, Olivia Stanley, Jason Kai"
    />

    <title>Anatomical Fiducials{% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/afid.png') }}"
    />

    <!-- Boostrap Core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='lib/afidsvalidator-react/styles/afids_custom.css') }}"
      type="text/css"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <div id="react-navbar"></div>
      </header>
      
      <main>{% block content %}{% endblock content %}</main>

      <div id="react-footer"></div>

      {% block scripts %}
        <script type="text/javascript" src={{url_for("static", filename="lib/afidsvalidator-react/dist/index.js") }}></script>
        <script>var currentUser = "{{ current_user }}" </script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
          crossorigin="anonymous"
        ></script>
      {% endblock scripts %}
    </div>
  </body>
</html>
