<!-- TODO: Remove page -->
{% extends "base.html" %} {% block title %} | CONTACT{% endblock%} {%block
content %}
<article class="container">
  <div class="row">
    <div class="col" id="contact" class="contact">
      <p>
        Please reach out if you would like to contribute to this open source
        project, encounter any bugs with the validator, or have any questions!
      </p>

      <p>
        For any issues related to the fiducial validator, please create a new
        issue on our
        <a href="https://github.com/afids/fidvalidator/issues" target="_blank"
          >Github repository</a
        >. For all other inquiries, please reach out to us via
        <a
          href="https://mattermost.brainhack.org/brainhack/channels/afids"
          target="_blank"
          >mattermost</a
        >
        or
        <a href="https://twitter.com/afids_project" target="_blank">Twitter</a>.
      </p>

      <p>
        We will do our best to respond to any messages within a reasonable time!
      </p>
    </div>
  </div>
</article>
{% endblock %}
