{% extends "base.html" %}
{% block title %} | LOGIN{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-light" role="button" href="{{ url_for("orcid.login") }}">
                <div class="row">
                    <div class="col-4 mx-auto my-auto">
                        <img src={{ url_for("static", filename="lib/afidsvalidator-react/public/ORCIDiD_iconvector.svg") }} class="img-fluid" alt="ORCID iD Icon">
                    </div>
                    <div class="col-8 mx-auto my-auto">
                        Login with ORCID
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock content %}
