html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.container {
    width: 100%;
}

/* Misc */
hr {
    position: relative;
    border-top: .2vw solid;
    margin-top: -1%;
    color: #00ff01;
}

figcaption {
    text-align: center;
    font-family: "Roboto", serif;
    font-style: italic;
}


/* Header + Navigation */
#banner {
    margin-bottom: .1vw;
}
#nav-wrapper {
    z-index: 1000;
    position: relative;
    width: 100%;
}

div .nav {
    display: flex;
    justify-content: center;
}

.nav {
    margin: 0 auto;
    padding: 0;
}

.nav li, a {
    display: inline;
    margin: 0 1vw;
    font-family: "Bebas Neue", serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.nav li a:hover {
    text-decoration: none;
    color: #00ff01;
    font-weight: bold;
}


/* Body */
.body {
    position: relative;
    overflow-y: visible;
}

#heading {
    text-decoration: underline;
}

#text {
    text-align: justify;
}

#login {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    margin-top: -3vw;
    margin-bottom: 1vw;
}

/* Footer */
.copyright {
    background-color: #00ff01;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: "Roboto", serif;
    font-size: .85vw;
    color: #000;
    text-align: center;
}

.social-nav {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.social-nav li {
    display: inline;
}

.social-nav li a {
    color: #000;
    font-size: 1.5vw;
}

.social-nav li a:hover{
    color: #808080;
}
