@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
  /* Global colours */
  --afids-green: #00ff01;
  --dark: #000;
  --light: #fff;

  /* Fonts */
  --nav-font: "Bebas Neue", serif;
  --nav-fontsize: 24px;
  --def-font: "Roboto", sans-serif;
  --def-fontsize: 20px;
  --foot-font: "Robot", sans-serif;
  --foot-fontsize: 18px;
}

html, body {
  max-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--light);
}

.container {
  background-color: var(--dark);
  color: var(--light);
  font-size: var(--def-fontsize);
  justify-content: center;
}

/* Navbar */
a.nav-link {
  padding: 10px 50px !important;
  text-transform: uppercase;
  text-align: center;
  color: var(--light);
  font: var(--nav-font);
  font-size: var(--nav-fontsize);
}

a.nav-link:hover {
  color: var(--afids-green);
}

.nav-hr {
  color: var(--afids-green);
  margin-top: 0;
  border-top: 0.2vw solid;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--afids-green);
  color: var(--dark);
  font-size: var(--foot-fontsize);
}

footer a {
  color: var(--dark);
}

footer a:hover {
  color: var(--light);
}

.footIcon {
  width: var(--def-fontsize);
  height: var(--def-fontsize);
  margin: 8px;
}