<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AFIDs Validator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='milligram.min.css')}}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  </head>
  <body>

  <!-- Input and Results are typeset as a two-column table -->
  <header class="container">
    <h1>AFIDs Validator</h1>
  </header>

  <main class="container">
    <section>
      <h2>Setup</h2>
      <form method=post action="" enctype="multipart/form-data">
        <fieldset>
          <legend>Select a template to compare against.</legend>
          <select name="fid_template" method="GET" action="/">
            {% for fid_template in fid_templates %}
              <option value="{{fid_template}}">{{fid_template}}</option>"
            {% endfor %}
          </select>
        </fieldset>

        <fieldset>
          <legend>Select the AFIDs FCSV to validate.</legend>
          {% for field in form %}
            {{ field(size=20) }}
            {% if field.errors %}
              <ul class=errors>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </fieldset>
      </form>
    </section>

    <section>
      <h2>Results</h2>
      {% if result != None %}
      {{ result|safe }}
      {% endif %}
    </section>
  </main>
</body>
</html>

