<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Anatomical Fiducials Validator">
  <meta name="author" content="Patrick Park, Geetika Gupta, Jak Lee-Spacek, Tristan Kuehn, Olivia Stanley, Jason Kai">

  <title>Anatomical Fiducials{% block title %}{% endblock %}</title>

  <!-- favicon - to be added -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/afid.png') }}">

  <!-- Boostrap Core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/afids_custom.css') }}">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <header class="container">
    <img class="img-fluid" src="{{ url_for('static', filename='images/banner.png') }}" alt="AFIDs Validator Banner">
    <nav id="nav-wrapper">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="/"><h1>About</h1></a></li>
        <li class="nav-item"><a class="nav-link" href="hhttps://afids.github.io/afids-protocol/" target="_blank"><h1>Protocol</h1></a></li>
        <li class="nav-item"><a class="nav-link" href="validator.html"><h1>Validator</h1></a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html"><h1>Contact</h1></a></li>
        <li class="nav-item"><a class="nav-link" href="login.html"><h1>Login</h1></a></li>
      </ul>
    </nav>

    <hr>
  </header>

  <main>{% block content %}{% endblock %}</main>

  <footer class="navbar navbar-expand-xl justify-content-center">
    <nav class="navbar-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-center" href="https://twitter.com/afids_project" target="_blank"><i class="fa fa-twitter fa-xs"></i></a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="https://github.com/afids" target="_blank"><i class="fa fa-github fa-xs"></i></a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
