{% extends "base.html" %}
{% block title %} | ABOUT{% endblock %}

{% block content %}
    <article class="container">
      <div class="row">
        <h3 id="heading">Template</h3>
      </div>
      <div class="row">
        <div id="text" class="col-sm-7">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl purus in mollis nunc sed id semper. At tellus at urna condimentum. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Enim neque volutpat ac tincidunt. Elementum eu facilisis sed odio morbi quis commodo odio. Turpis egestas integer eget aliquet nibh praesent tristique magna. Risus nec feugiat in fermentum posuere urna nec tincidunt. Leo vel fringilla est ullamcorper eget. Viverra ipsum nunc aliquet bibendum enim facilisis gravida.
          </p>

          <p> Massa eget egestas purus viverra accumsan. Varius duis at consectetur lorem donec massa sapien faucibus. Massa sapien faucibus et molestie ac feugiat sed. Libero nunc consequat interdum varius. Ipsum consequat nisl vel pretium lectus quam id leo in. Arcu ac tortor dignissim convallis aenean et tortor. Velit aliquet sagittis id consectetur purus. Sagittis vitae et leo duis ut diam quam. Posuere sollicitudin aliquam ultrices sagittis orci a. Enim nunc faucibus a pellentesque sit amet porttitor eget. Id neque aliquam vestibulum morbi blandit cursus. Sagittis eu volutpat odio facilisis mauris sit amet massa. Nunc eget lorem dolor sed viverra ipsum.
          </p>

          <p>Mauris augue neque gravida in. Dignissim suspendisse in est ante in nibh mauris cursus. Aliquet bibendum enim facilisis gravida. Facilisis sed odio morbi quis commodo odio aenean sed. At in tellus integer feugiat. Libero enim sed faucibus turpis in eu mi bibendum neque. Euismod quis viverra nibh cras pulvinar mattis. Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Mattis enim ut tellus elementum sagittis vitae et leo. Ullamcorper sit amet risus nullam.
          </p>

          <p>Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra. Euismod in pellentesque massa placerat duis ultricies lacus sed turpis. Vehicula ipsum a arcu cursus vitae congue mauris. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Id cursus metus aliquam eleifend mi in nulla. Velit dignissim sodales ut eu. Nullam vehicula ipsum a arcu cursus vitae. Rhoncus urna neque viverra justo nec ultrices. Lorem ipsum dolor sit amet consectetur adipiscing elit. At tempor commodo ullamcorper a lacus. Ut tellus elementum sagittis vitae. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
          </p>

          <p> Morbi tristique senectus et netus et malesuada fames ac turpis. Odio aenean sed adipiscing diam donec adipiscing. Lacus laoreet non curabitur gravida arcu. Nullam ac tortor vitae purus faucibus. Bibendum neque egestas congue quisque egestas diam in. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Sed velit dignissim sodales ut eu sem integer. Vitae auctor eu augue ut. Lectus arcu bibendum at varius vel pharetra vel. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Justo laoreet sit amet cursus sit amet. Pretium viverra suspendisse potenti nullam. Pretium fusce id velit ut tortor. Amet nisl purus in mollis nunc. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Quis risus sed vulputate odio ut enim blandit. Tincidunt eget nullam non nisi est.
          </p>
        </div>

        <div class="col-sm-5">
          <figure>
            <img src="https://toronto.citynews.ca/wp-content/blogs.dir/sites/10/2017/06/30/june30-duck.jpg" alt="Giant rubber duck">
            <figcaption>It's a giant rubber duck!</figcaption>
          </figure>
        </div>
      </div>
    </article>
{% endblock %}

