<!DOCTYPE html>
<html lang="en">

<!-- Metadata & CSS -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anatomical Fiducials Validator">
    <meta name="author" content="Patrick Park, Geetika Gupta, Jak Lee-Spacek, Tristan Kuehn, Olivia Stanley, Jason Kai">

    <title>ABOUT | AFIDs Validator</title>

    <!-- favicon - to be added -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/afid.png') }}">

    <!-- Boostrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">

    <!-- Custom/Other CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/milligram.min.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/afids_custom.css') }}">
  </head>

  <!-- Header -->
  <header class="container">
        <div id="banner">
            <img src="{{ url_for('static', filename='images/banner.png') }}" alt="AFIDs Validator Banner">
        </div>

        <div id="nav-wrapper" class="nav">
            <ul class="nav">
                <li><a href="/">About</a></li>
                <li><a href="https://afids.readthedocs.io/en/latest/" target="_blank">Protocol</a></li>
                <li><a href="validator.html">Validator</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
        <hr>
  </header>

  <!-- Body -->
  <body class="body">
        <div class="container">
            <div class="row">
                <div id="login">
                    <img src="{{ url_for('static', filename='images/construction.jpg') }}" alt="Under construction">
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container">
            <div class="copyright">
                &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Anatomical Fiducials
                <ul class="fa-ul social-nav text-center">
                    <span class="fa-ul">
                        <li class="fa-li"><a href="https://twitter.com/afids_project" target="_blank"><i class="fa fa-twitter fa-xs"></i></a></li>
                        <li class="fa-li"><a href="https://github.com/afids" target="_blank"><i class="fa fa-github fa-xs"></i></a></li>
                    </span>
                </ul>
            </div>
        </div>
  </body>
</html>
