{% extends "base.html" %}
{% block title %} | VALIDATOR {% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <section class="col-9">
          <div class="row col-12">
              <p>Use the following form to compare user placed fiducials to one of the available templates!
              </p>
          </div>

          <!-- Template submission form -->
          <form method=post action="" enctype="multipart/form-data">
            <!-- Dropdown for template selection -->
            <div class="row">
              <div class="col-9">
                <fieldset class="form-group">
                  <legend>Select a template to compare against.</legend>
                  <select class="form-control" name="fid_template" method="GET" action="/">
                    <option value="Validate file structure">Validate file structure</option>></option>
                    <optgroup label="Human">
                      {% for human_template in human_templates %}
                      <option value="{{human_template}}">{{human_template}}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </fieldset>
              </div>
            </div>

            <!-- User template "upload" -->
            <fieldset class="form-group">
              <legend>Select the AFIDs file to validate.</legend>
              {% for field in form %}
              {{ field }}
              {% if field.errors %}
              <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endfor %}
            </fieldset>
	    <input type="checkbox" id="db_checkbox" name="db_checkbox"/>
	    <label for="db_checkbox">Upload to Database</label>
          </form>

          {% if result != "" %}
          <div class="row">
              <div class="col-9">
                  <h2>Results</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-9">
                  {% if result[0:5] == "Valid" %}
                  <div class="alert alert-success">
                  {% else %}
                  <div class="alert alert-danger">
                  {% endif %}
                      {{ result|safe }}
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-9">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a class="nav-link" href="#plots" role="tab" aria-controls="plots" data-toggle="tab"><h3>Plots</h3></a>
                </li>
                <li role="presentation">
                  <a class="nav-link" href="#table" role="tab" aria-controls="table" data-toggle="tab"><h3>Table</h3></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="plots">
              <div class="row">
                <div class="col-9">
                    {{scatter_html|safe}}
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                    {{histogram_html|safe}}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="table">
              <div class="row">
                <div class="text col-9">
                  <table class="table table-dark table-sm">
                  <tr>
                    <th scope="col">{{"Fiducial Name"}}</th>
                    <th scope="col">{{"Distance [mm]"}}</th></tr>
                  {% for i in index %}
                  <tr><td>{{labels[i]}}</td><td>{{distances[i]}}</td></tr>
                  {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </section>

        <!-- Analytics -->
        <!-- <section class="col">
          <a class="btn btn-light" href="/getall">View DB</a>
          <a class="btn btn-light" href="/analytics">Analytics</a>
        </section> -->
      </div>
    </div>
{% endblock %}
